.bg-softcream {
    background-color: #E8DDD2;    
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.bg-green {
    background-color: green;
}

#topbar {
    border-bottom: 2px solid #b79d84;
}
#logo {
    text-align: center;
}
#logo img {
    width: 200px;
}
#cart {
    text-align: center;
}
#cart img {
    width: 40px;
}
.height-50 {
    height: 50px;
    position: relative;
}

.height-50 .vcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}
#highlight {
    padding-top: 30px;
    padding-bottom: 30px;
}
h1 {
    font-size: 50px;
}
.color-brown {
    color: #764a1d;
}
@media (min-width: 768px) {
    .height-700 {
        height: 700px;
        position: relative;
    }

    .height-700 .vcenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
}
.general-button {
    display: inline-block;
    border: 2px solid #010000;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    background-color: #ddbc99;
    text-decoration: none;
    color: #7b4717;
    font-weight: bold;
}
.general-button:hover {
    cursor: pointer;
    background-color: #d7a979;
}
#why-choose-us {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url('images/bg-bika.jpg');
    background-position: center;
    background-repeat: repeat;
}
#product-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #e7ddd3;
}
.w-1000 {
    max-width: 1000px;
    margin: auto;
}
#route-store {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff;
}
input.general-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #6b492d;
    border-radius: 5px;   /* harus pakai px */
    outline: none;        /* opsional: hilangkan garis biru default */
}

input.general-input:focus {
    border-color: #6b492d; /* cukup ubah yang perlu */
}
#customer-says {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff;
}
#footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff;
}

.menu {
    text-align: center;
}
.menu ul {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #29241e;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.menu ul li a:hover {
    color: #604226;
    font-weight: bold;
}
#about-me {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}
#feel-authentic {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('images/bika-style.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
#feel-authentic h2 {
    font-size: 50px;
}
#brand-info {
    padding-top: 70px;
    padding-bottom: 70px;
}
#brand-info-2 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #e7ddd3;
}
.white-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.white-box h3 {
    font-size: 40px;
}